p#notice = notice

<% attributes.each do |attribute| -%>
p
  strong = <%= human_name %>.human_attribute_name("<%= attribute.name %>") + ':'
  = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

= link_to t(:edit), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
'|
= link_to t(:back), <%= index_helper %>_path
